*{
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family:"Space Mono", monospace;
}

@media screen and (min-width: 375px) and (max-width:768px ){
    body{
        background-color: hsl(185, 41%, 84%);
    }
    header{
        background-color: hsl(185, 41%, 84%);
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:  hsl(186, 14%, 43%);
        letter-spacing: 15px;
    }

    main{
        background-color: white;
        border-radius: 20px;
        width: 375px;
        height: 775px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    #sectionPayValue{
        width: 83%;
        padding: 25px;
        margin: 0 auto;
        font-weight: bolder;
        color:hsl(184, 14%, 56%);
    }

    #paraInputPayValue{
        display: flex;
        align-items: center;
        background-color: hsl(189, 41%, 97%) ;
        border-radius: 5px;
        font-size: 20px;
        text-indent:15px;
        font-weight: normal;
        height: 40px;
        margin-top: 8px;
    }

    #sectionPayValue input{
        width: 100%;
        height: 35px;
        text-align: right;
        padding-right: 10px;
        border-radius: 5px;
        font-size: large;
        font-weight: bolder;
        border: none;
        color: hsl(183, 100%, 15%) ;
        background-color: hsl(189, 41%, 97%);
    }

    #sectionPayValue input:focus{
        outline: none; 
        border: none;
    }

    h5{
        width: 83%;
        margin: 0px auto 13px auto;
        font-size: 16px;
        color: hsl(184, 14%, 56%) ;

    }

    #selectTip{
        width: 83%;
        margin: 0 auto;
        display:flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #selectTip p{
        background-color: hsl(183, 100%, 15%);
        color: white;
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 148px;
        height: 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
    }

    #selectTip p:last-child{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 5px 0px 5px 0px;
        background-color: hsl(189, 41%, 97%);
        
    }

    #selectTip p input{
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        color: hsl(186, 14%, 43%);
        font-size: 1.3rem;
    }

    #selectTip p input:focus{
        outline: none; 
        border: none;
    }

    #selectTip p:last-child{
        background-color:hsl(189, 41%, 97%) !important;
    }

    #numberOfPeopleTitle{
        margin-top: 40px;
        margin-bottom: 0px;
        font-weight: bolder;
    }

    #numberOfPeople{
        width: 83%;
        margin: 0 auto;
        
    }

    #numberInputPeople{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(189, 41%, 97%) ;
        border-radius: 5px;
        font-size: 20px;
        text-indent:15px;
        font-weight: normal;
        height: 40px;
        margin-top: 8px;
        
    }

    #numberInputPeople input{
        border: none;
        
        background-color: transparent;
        width: 80%;
        font-size: 1.3rem;
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
        color: hsl(183, 100%, 15%);
        font-size: 1.3rem;
    }

    #numberInputPeople img{
        width: 14px;
        height: 18px;
        padding-left: 16px;
    }

    #numberInputPeople input:focus{
        outline: none;
        
    }

    #continerResultValue{
        background-color: hsl(183, 100%, 15%);
        border-radius: 10px;
        width: 83%;
        min-height: 280px;
        margin: 40px auto 0px auto;

    }

    .divTotalValue{
        padding: 30px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }

    .tipDiscont p{
        color: white;
        font-weight: bolder;
    }

    .tipDiscont p:last-child{
        color: hsla(180, 33%, 97%, 0.55);
    }

    .valueTot{
        font-size: 35px;
        font-weight: bolder;
        color: hsl(176, 69%, 45%);
    }

    #buttonReset{
        background-color: hsl(176, 69%, 45%);
        color: hsl(183, 100%, 15%);
        text-align: center;
        width: 88%;
        margin: 5px auto 0px auto;
        padding: 8px 0px 8px 0px;
        border-radius: 5px;
        font-size: 23px;
        font-weight: bolder;
        cursor: pointer;

    }

    .selected{
        background-color:hsl(176, 69%, 45%) !important; 
        color: hsl(183, 100%, 15%) !important;
    }

    #hider{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1900px ){

    body{
        background-color: hsl(185, 41%, 84%);
    }

    header{
        background-color: hsl(185, 41%, 84%);
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:  hsl(186, 14%, 43%);
        letter-spacing: 15px;
    }

    main{
        background-color: white;
        border-radius: 20px;
        width: 825px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
        display: flex;
    }

    #mainPayValue{
        width: 600px;
    }

    #sectionPayValue{
        width: 83%;
        padding: 25px;
        margin: 0 auto;
        font-weight: bolder;
        color:hsl(184, 14%, 56%);
    }

    #paraInputPayValue{
        display: flex;
        align-items: center;
        background-color: hsl(189, 41%, 97%) ;
        border-radius: 5px;
        font-size: 20px;
        text-indent:15px;
        font-weight: normal;
        height: 40px;
        margin-top: 8px;
        border: 2px solid hsl(0, 0%, 100%)
        
    }

    #sectionPayValue input{
        width: 100%;
        height: 35px;
        text-align: right;
        padding-right: 10px;
        border-radius: 5px;
        font-size: large;
        font-weight: bolder;
        border: none;
        color: hsl(183, 100%, 15%) ;
        background-color: hsl(189, 41%, 97%);
    }

    #sectionPayValue input:focus{
        outline: none; 
        border: none;
    }

    h5{
        width: 83%;
        margin: 0px auto 13px auto;
        font-size: 16px;
        color: hsl(184, 14%, 56%) ;

    }

    #selectTip{
        width: 83%;
        margin: 0 auto;
        display:flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        
        
    }

    #selectTip p{
        background-color: hsl(183, 100%, 15%);
        color: white;
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 104px;
        height: 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
    }

    #selectTip p:last-child{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        background-color: hsl(189, 41%, 97%);
    }

    #selectTip p input{
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        color: hsl(186, 14%, 43%);
        font-size: 1.3rem;
    }


    #selectTip p input:focus{
        outline: none; 
        border: none;
    }

    #selectTip p:last-child{
        background-color:hsl(189, 41%, 97%) !important;
    }
    #divCantBeZero{
        display: flex;
        margin: 0 auto;
        width: 83%;
    }

    .cantBeZero{
        display: block;
        color: rgba(236, 8, 8, 0.708)!important;
        margin-top: 40px !important;
        text-align: right !important;
        margin-bottom: 0px !important;
        font-weight: bolder !important;
    }

    #numberOfPeopleTitle{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0px;
        font-weight: bolder;
        text-align: left;
        
    }

    #numberOfPeople{
        width: 83%;
        margin: 0 auto;
    }

    #numberInputPeople{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(189, 41%, 97%) ;
        border-radius: 5px;
        font-size: 20px;
        text-indent:15px;
        font-weight: normal;
        height: 40px;
        margin-top: 8px;
    }

    #numberInputPeople input{
        border: none;
        background-color: transparent;
        width: 80%;
        font-size: 1.3rem;
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
        color: hsl(183, 100%, 15%);
        font-size: 1.3rem;
    }

    #numberInputPeople img{
        width: 14px;
        height: 18px;
        padding-left: 16px;
    }

    #numberInputPeople input:focus{
        outline: none;

    }

    #continerResultValue{
        background-color: hsl(183, 100%, 15%);
        border-radius: 10px;
        width: 600px;
        min-height: 280px;
        margin: 25px 25px 25px auto;

    }

    .divTotalValue{
        padding: 30px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }

    .tipDiscont p{
        color: white;
        font-weight: bolder;
    }

    .tipDiscont p:last-child{
        color: hsla(180, 33%, 97%, 0.55);
    }

    .valueTot{
        font-size: 35px;
        font-weight: bolder;
        color: hsl(176, 69%, 45%);
    }

    #buttonReset{
        background-color: hsl(176, 69%, 45%);
        color: hsl(183, 100%, 15%);
        text-align: center;
        width: 88%;
        margin: 70px auto 0px auto;
        padding: 8px 0px 8px 0px;
        border-radius: 5px;
        font-size: 23px;
        font-weight: bolder;
        cursor: pointer;
        filter: brightness(0.5);

    }

    /* classes interativas com js */
    .selected{
        background-color:hsl(176, 69%, 45%) !important; 
        color: hsl(183, 100%, 15%) !important;
    }

    .resetOn{
        filter: brightness(1) !important;
    }
    .resetOn:hover{
        filter: brightness(1.5) !important;
    }

    .focusInputStyle {
        border: 2px solid hsl(176, 69%, 45%) !important;
        border-radius: 5px!important;
    }
    
    #hider{
        color: white;
    }

}

